*{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;        
}
#intro{
    text-align: center;
    vertical-align: middle;
    font-family: 'Young Serif', serif;
    padding-top: 15px;
    color:#001F3F;
    overflow: hidden;
    background-color:	#009bd6;
}
.dot{
    color: #87CEEB;
    font-family: "Sedgwick Ave Display", cursive;
    font-style: normal;
    background-color: #009bd6;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: none;
} 
a:active {
    color: black;
    text-decoration: none;
}
#int{
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    color:#fff;
}

input {
    padding: .8rem 1rem;
    width: 40%;
    border-radius: 5rem;
    outline: none;
    border: .1rem solid #d1d1d1;
    font-size: .7rem;
  }
  
  ::placeholder {
    color: #d1d1d1;
  }
  
  .subscribe-btn {
    padding: .8rem 2rem;
    border-radius: 5rem;
    background: linear-gradient(90deg, #001F3F,#009bd6);
    color: #fff;
    font-size: .7rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .center{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
#blog{
    padding-left: 10%;
    padding-right: 10%;
}
p{
    font-size: large;    
    text-align: justify;
    margin-top: 0;
    padding-top: 0;
}
.content{
    padding-left: 30px;
    text-align: justify;
    
}